<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flask & Mate</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='rook.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Flask Mate</h1>
        <p>Version 1.0 | Chess game</p>
        <button type="button" id="undo-button">Undo</button>
        <div id="chess-board"></div>
        <script src="{{ url_for('static', filename='chess.js') }}"></script>
    </body>
</html>